<ion-header>
  <ion-toolbar>
    <ion-title>Livros Cadastrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let livro of livrosCadastrados">
      <ion-label>{{ livro.titulo }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-button href="cad-livro" expand="full">Cadastrar Livros</ion-button>
  </ion-card>
  
</ion-content>

