<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Livro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input type="text" [(ngModel)]="livro.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Páginas</ion-label>
    <ion-input type="number" [(ngModel)]="livro.paginas"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Resumo</ion-label>
    <ion-input type="text" [(ngModel)]="livro.resumo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Preço</ion-label>
    <ion-input type="number" [(ngModel)]="livro.preco"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Idioma</ion-label>
    <ion-input type="text" [(ngModel)]="livro.idioma"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Edição</ion-label>
    <ion-input type="number" [(ngModel)]="livro.edicao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ID do Autor</ion-label>
    <ion-input type="number" [(ngModel)]="livro.id_autor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ID da Editora</ion-label>
    <ion-input type="number" [(ngModel)]="livro.id_editora"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data de Publicação (aa-mm-dd)</ion-label>
    <ion-input type="date" [(ngModel)]="livro.data_publicacao"></ion-input>
  </ion-item>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-button expand="block" color="success" routerLink="/home" (click)="cadastrarLivro()">CONFIRMAR</ion-button>
    <ion-button expand="block" color="danger" routerLink="/home">CANCELAR</ion-button>
  </ion-toolbar>
</ion-footer>
