<ion-header>
  <ion-toolbar>
    <ion-title>Editoras Cadastradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let editora of editorasCadastradas">
      <ion-label>{{ editora.razao_social }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-button href="cad-editora" expand="full">Cadastrar Editoras</ion-button>
  </ion-card>
  
</ion-content>

