<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Editora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Razão Social</ion-label>
    <ion-input type="text" [(ngModel)]="editora.razao_social"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CNPJ</ion-label>
    <ion-input type="text" [(ngModel)]="editora.cnpj"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">IE</ion-label>
    <ion-input type="text" [(ngModel)]="editora.ie"></ion-input>
  </ion-item>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-button expand="block" color="success" routerLink="/home" (click)="cadastrarEditora()">CONFIRMAR</ion-button>
    <ion-button expand="block" color="danger" routerLink="/home">CANCELAR</ion-button>
  </ion-toolbar>
</ion-footer>
