<ion-header>
  <ion-toolbar>
    <ion-title>Autores Cadastrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let autor of autoresCadastrados">
      <ion-label>{{ autor.nome }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-button href="cad-autor" expand="full">Cadastrar Autores</ion-button>
  </ion-card>
  
</ion-content>

