<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="person-circle" routerLink="/cad-usuario">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Usuario</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="person" routerLink="/cad-autor">
          <ion-icon name="person"></ion-icon>
          <ion-label>Autor</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="pencil" routerLink="/cad-editora">
          <ion-icon name="pencil"></ion-icon>
          <ion-label>Editora</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="book" routerLink="/cad-livro">
          <ion-icon name="book"></ion-icon>
          <ion-label>Livro</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2><b>Listagens:</b></h2>
  <hr style="height: 2px;"><!--listagem de usuarios, livros, autores, editoras--> 
  <ion-card>
    <ion-button href="usuarios" expand="full">Listagem de Usuários</ion-button>
  </ion-card> 
  <ion-card>
    <ion-button href="livros" expand="full">Listagem de Livros</ion-button>
  </ion-card>
  <ion-card>
    <ion-button href="autores" expand="full">Listagem de Autores</ion-button>
  </ion-card>
  <ion-card>
    <ion-button href="editoras" expand="full">Listagem de Editoras</ion-button>
  </ion-card>  
</ion-content>
