<ion-header >
  <ion-toolbar>
    <ion-title>Cadastro de Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" class="teste">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="autor.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="text" [(ngModel)]="autor.telefone"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label position="floating">Nacionalidade</ion-label>
    <ion-input type="text" [(ngModel)]="autor.nacionalidade"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Data de Morte</ion-label>
    <ion-input type="date" [(ngModel)]="autor.data_morte"></ion-input>
  </ion-item>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-button expand="block" color="success" routerLink="/home" (click)="cadastrarAutor()">CONFIRMAR</ion-button>
    <ion-button expand="block" color="danger" routerLink="/home">CANCELAR</ion-button>
  </ion-toolbar>
</ion-footer>
