<ion-header>
  <ion-toolbar>
    <ion-title>Usuários Cadastrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let usuario of usuariosCadastrados">
      <ion-label>{{usuario.username}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-button href="cad-usuario" expand="full">Cadastrar Usuários</ion-button>
  </ion-card>
  
</ion-content>

