<ion-header>
    <ion-toolbar>
      <ion-title>Login de Administrador</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-item lines="inset">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.username"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>
    <div>
      <ion-button expand="block" color="primary" (click)="logar()"  href="home">
        Logar
      </ion-button>
      <ion-button expand="block" color="danger">
        Sair
      </ion-button>
    </div>
  </ion-content>
  