<ion-header>
    <ion-toolbar>
      <ion-title>Cadastro de usuario</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-button expand="block" color="success" routerLink="/home" (click)="cadastrarUsuario()">CONFIRMAR</ion-button>
    <ion-button expand="block" color="danger" routerLink="/home">CANCELAR</ion-button>
  </ion-toolbar>
</ion-footer>
  